openapi: 3.1.0
info:
  contact:
    email: support@definancy.com
    name: Definancy
    url: https://definancy.com
  description: |-
    REST API for managing asset, network and contract configurations, and vault-based financial operations.
    This API provides a comprehensive set of endpoints for health monitoring, network management, asset
    configuration, contract management, vault lifecycle management, and QR-Code generation. It is designed
    to facilitate seamless integration with financial systems, ensuring secure and efficient payment
    processing while maintaining strict compliance standards.
  title: Definancy API
  version: 0.1.0
servers:
- description: Stub - Authentication is disabled
  url: https://stub.definancy.com
- description: Development
  url: https://dev.definancy.com
security:
- dpop-auth: []
  dpop-proof: []
tags:
- description: |-
    Experimental endpoints to help in client development.
    **These endpoints are only available in DEV environments**
  name: Experimental
- description: "Health monitoring endpoints for verifying service availability and\
    \ operational status.\nThese endpoints allow you to check if the service is alive\
    \ and ready to accept traffic, \nensuring that your applications can rely on the\
    \ Definancy service for their operations."
  name: Probe
- description: |-
    Authentication endpoints for managing authentication and authorization.
    These endpoints allow you to authenticate and authorize users to access the Definancy service.
  name: Auth
- description: |-
    Network configuration and status management.
    This section includes endpoints for retrieving and managing network configurations, which
    are essential for setting up and maintaining networks for payment processing.
  name: Network
- description: |-
    Asset configuration and status management.
    These endpoints allow you to manage digital assets, including retrieving and updating
    asset configurations, which is crucial for handling various cryptocurrencies and tokens
    in payment operations.
  name: Asset
- description: |-
    Contract configuration and status management.
    This section provides endpoints for managing contracts, including retrieving and
    updating contract configurations, which is vital for executing and validating payments
    on networks.
  name: Contract
- description: |-
    Vault lifecycle management and configuration.
    These endpoints enable you to manage vaults, which are containers for payment acceptance,
    documents, and contract subscriptions. Vaults are essential for organizing and processing
    payments while maintaining compliance.
  name: Vault
- description: |-
    Management of vault contract associations within vaults.
    This section includes endpoints for subscribing and unsubscribing contracts to vaults,
    allowing you to control which contracts are active in specific vaults for payment processing.
  name: Vault - Contract Subscription
- description: |-
    Documents management within vaults.
    These endpoints allow you to submit, retrieve, and archive documents related to payment
    acceptance, ensuring that all necessary compliance documents are managed efficiently.
  name: Vault - Document
- description: |-
    Payment processing and transaction management for vault-based financial operations.
    These endpoints enable you to estimate, create, retrieve, update, and archive payments,
    which are essential for executing payments and tracking their status.
  name: Vault - Payment
- description: |-
    Velocity limit configuration and enforcement for payment operations.
    Velocity limits cap how much can be paid within a rolling time window
    (per account or per vault). Setting `windowMinutes` to 0 means
    "single-payment cap" — no time aggregation.
  name: Velocity
- description: |-
    QR-Code generator.
    This section includes endpoints for generating QR codes, which are used for facilitating
    blockchain transactions by encoding payment instructions that can be scanned by cryptocurrency
    wallets.
  name: QR-Code
paths:
  /v1/healthy:
    get:
      description: "Verifies service liveness. Returns OK when operational.\nThis\
        \ endpoint is used to check if the service is alive and ready to handle requests,\
        \ \nensuring that your applications can rely on the Definancy service for\
        \ their operations."
      operationId: HealthyCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: OK.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        default:
          $ref: "#/components/responses/DefaultResponse"
      security: []
      summary: Health Check
      tags:
      - Probe
      x-accepts:
      - application/json
  /v1/ready:
    get:
      description: |-
        Verifies service readiness. Returns OK when ready to accept traffic.
        This endpoint checks if the service is ready to handle incoming requests, ensuring
        that your applications can rely on the Definancy service for their operations.
      operationId: ReadyCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: OK.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        default:
          $ref: "#/components/responses/DefaultResponse"
      security: []
      summary: Ready Check
      tags:
      - Probe
      x-accepts:
      - application/json
  /v1/auth/{definancyId}:
    put:
      description: |-
        Registers a **Definancy ID**.

        This operation does not create a new Definancy ID from scratch but formally registers the
        Definancy method-specific identifier on the network, enabling it to be resolved and used for
        verifiable credentials and interactions.
      operationId: RegisterAuth
      parameters:
      - description: |-
          The Definancy Identifier. This is a base32-encoded (without padding) string derived from an ED25519 public key.
          The identifier is generated by:
          1. Taking the 32-byte public key
          2. Computing a SHA512/256 hash (32 bytes) of the public key
          3. Taking the last 4 bytes of this hash as a checksum
          4. Appending the checksum to the public key (creating a 36-byte value)
          5. Encoding the combined value using base32 without padding
        explode: false
        in: path
        name: definancyId
        required: true
        schema:
          pattern: "^[A-Z2-7]{58}$"
          type: string
        style: simple
      responses:
        "200":
          description: "**Success.** The Definancy ID `{definancyId}` was successfully\
            \ registered."
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Register a Definancy ID
      tags:
      - Auth
      x-accepts:
      - application/json
  /v1/network:
    get:
      description: "Retrieves all configured networks.\nThis endpoint returns a list\
        \ of all configured networks, which are essential for \nsetting up and maintaining\
        \ networks for payment processing."
      operationId: GetNetworks
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Network"
                type: array
          description: Successful retrieval of network configurations.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: List Networks
      tags:
      - Network
      x-accepts:
      - application/json
  /v1/network/{networkId}:
    get:
      description: "Retrieves configuration details for a specific network.\nThis\
        \ endpoint returns detailed configuration information for a specific\nnetwork,\
        \ which is essential for managing and maintaining networks for \npayment processing."
      operationId: GetNetwork
      parameters:
      - $ref: "#/components/parameters/NetworkIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Network"
          description: Network details retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Get Network
      tags:
      - Network
      x-accepts:
      - application/json
    patch:
      description: "Updates configuration parameters for a network.\nThis endpoint\
        \ allows you to update configuration parameters for a specific\nnetwork, which\
        \ is essential for managing and maintaining networks for \npayment processing."
      operationId: ConfigNetwork
      parameters:
      - $ref: "#/components/parameters/NetworkIdParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NetworkConfig"
        description: "Network configuration parameters to update. Currently supports\
          \ only the 'enabled' \nfield for controlling network availability. When\
          \ setting 'enabled' to false, the \nnetwork will be disabled for payment\
          \ processing while preserving all existing \ncontracts and historical transaction\
          \ data."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Network"
          description: Network configuration updated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Configure Network
      tags:
      - Network
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/network/{networkId}/native:
    get:
      description: "Retrieves the native asset of a specific network in a form of\
        \ a contract.\nThis endpoint returns the native asset of a specific network\
        \ in the form of a contract, \nwhich is essential for understanding and managing\
        \ the native token of a network."
      operationId: GetNetworkNativeAsset
      parameters:
      - $ref: "#/components/parameters/NetworkIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: The contract with the network's native asset details is retrieved
            successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Get Network Native Asset
      tags:
      - Network
      x-accepts:
      - application/json
  /v1/network/{networkId}/explorer:
    get:
      description: |-
        Returns URL templates for the network's block explorer.
        Templates use {value} as a placeholder for the address or transaction ID.
      operationId: GetNetworkExplorer
      parameters:
      - $ref: "#/components/parameters/NetworkIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkExplorer"
          description: Explorer URL templates retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      security: []
      summary: Get Network Explorer
      tags:
      - Network
      x-accepts:
      - application/json
  /v1/asset:
    get:
      description: |-
        Retrieves all configured digital assets.
        This endpoint returns a list of all configured digital assets, which are essential
        for handling various assets in payment operations.
      operationId: GetAssets
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Asset"
                type: array
          description: Asset list retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: List Assets
      tags:
      - Asset
      x-accepts:
      - application/json
  /v1/asset/{assetUnit}:
    get:
      description: |-
        Retrieves configuration details for a specific digital asset.
        This endpoint returns detailed configuration information for a specific digital asset,
        which is essential for managing and handling various assets in payment operations.
      operationId: GetAsset
      parameters:
      - $ref: "#/components/parameters/AssetUnitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
          description: Asset details retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Get Asset
      tags:
      - Asset
      x-accepts:
      - application/json
    patch:
      description: "Updates configuration parameters for a digital asset.\nThis endpoint\
        \ allows you to update configuration parameters for a specific digital asset,\
        \ \nwhich is essential for managing and handling various assets in payment\
        \ operations."
      operationId: ConfigAsset
      parameters:
      - $ref: "#/components/parameters/AssetUnitParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetConfig"
        description: "Asset configuration parameters to update. Currently supports\
          \ only the 'enabled' \nfield for controlling asset availability. When setting\
          \ 'enabled' to false, the \nasset will be disabled for payment processing\
          \ while preserving all existing \ncontracts and historical transaction data."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
          description: Asset configuration updated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Configure Asset
      tags:
      - Asset
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/contract:
    get:
      description: |-
        Retrieves all contract configurations.
        This endpoint returns a list of all configured contracts, which are essential
        for executing and validating payments on networks.
      operationId: GetContracts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Contract"
                type: array
          description: Contract list retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: List Contracts
      tags:
      - Contract
      x-accepts:
      - application/json
  /v1/contract/{assetUnit}/{networkId}:
    get:
      description: |-
        Retrieves configuration details for a specific smart contract.
        This endpoint returns detailed configuration information for a specific contract,
        which is essential for executing and validating payments on networks.
      operationId: GetContract
      parameters:
      - $ref: "#/components/parameters/AssetUnitParam"
      - $ref: "#/components/parameters/NetworkIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: Contract information retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Get Contract
      tags:
      - Contract
      x-accepts:
      - application/json
    patch:
      description: |-
        Updates configuration parameters for a contract.
        This endpoint allows you to update configuration parameters for a specific contract,
        which is essential for executing and validating payments on networks.
      operationId: ConfigContract
      parameters:
      - $ref: "#/components/parameters/AssetUnitParam"
      - $ref: "#/components/parameters/NetworkIdParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractConfig"
        description: "Contract configuration parameters to update. Currently supports\
          \ only the 'enabled' \nfield for controlling contract availability. When\
          \ setting 'enabled' to false, the \ncontract will be disabled for payment\
          \ processing while preserving all existing \nvault associations, payment\
          \ acceptance, and historical transaction data."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: Contract configuration updated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Configure Contract
      tags:
      - Contract
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault:
    get:
      description: |-
        Retrieves all vault configurations.
        This endpoint returns a list of all vault configurations, which are essential for
        organizing and processing payments while maintaining compliance.
      operationId: GetVaults
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Vault"
                type: array
          description: Vault list retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: List Vaults
      tags:
      - Vault
      x-accepts:
      - application/json
  /v1/vault/{vaultId}:
    delete:
      description: Deactivates a vault while preserving historical data.
      operationId: ArchiveVault
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Vault archived successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Archive Vault
      tags:
      - Vault
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieves configuration details for a specific vault.
        This endpoint returns detailed configuration information for a specific vault,
        which is essential for organizing and processing payments while maintaining compliance.
      operationId: GetVault
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Vault details retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Get Vault
      tags:
      - Vault
      x-accepts:
      - application/json
    patch:
      description: "Updates specific fields of an existing vault configuration. \n\
        Only provided properties will be modified.\nReturns the updated vault configuration."
      operationId: ConfigVault
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaultConfig"
        description: |-
          Partial vault configuration containing only the fields to be updated. The 'contract-ids'
          list can be used to modify vault subscriptions by adding or removing contract associations.
          The 'enabled' field can be used to activate or deactivate the vault for new operations.
          Only the provided fields will be modified, preserving all other existing configuration
          settings.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Vault configuration partially updated successfully
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Partially Update Vault Configuration
      tags:
      - Vault
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Updates or creates the configuration for a vault with {vaultId}.\
        \ This operation \nwill fully replace the existing configuration if the vault\
        \ exists, or create\na new vault if it does not."
      operationId: SetVault
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaultConfig"
        description: "Vault configuration with the fields to be updated with non-default\
          \ values. All \nnon-specified fields will be set with the default values.\
          \ The 'contract-ids' \nlist can be used to add or remove contract subscriptions.\
          \ The 'enabled' field \ncan be used to activate or deactivate the vault."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Vault configuration updated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Create or Update Vault
      tags:
      - Vault
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/contract/{assetUnit}/{networkId}:
    delete:
      description: Removes association between a contract and vault.
      operationId: VaultUnsubscribeContract
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      - $ref: "#/components/parameters/AssetUnitParam"
      - $ref: "#/components/parameters/NetworkIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Contract successfully unsubscribed from vault.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Unsubscribe Contract from Vault
      tags:
      - Vault - Contract Subscription
      x-accepts:
      - application/json
    put:
      description: Associates a smart contract with a vault.
      operationId: VaultSubscribeContract
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      - $ref: "#/components/parameters/AssetUnitParam"
      - $ref: "#/components/parameters/NetworkIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Contract successfully subscribed to vault.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Subscribe Contract to Vault
      tags:
      - Vault - Contract Subscription
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/payment/estimate:
    post:
      description: |-
        Calculates payment scenarios for specified contracts and amounts.
        Requires at least one contract-amount pair in the request body.
      operationId: VaultGetPaymentEstimate
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/ContractAmountFormat"
              minItems: 1
              type: array
        description: |-
          List of contract-amount pairs for which to generate payment estimates. Must contain
          at least one contract-amount pair. Each contract must be subscribed to the vault.
          The amounts should represent the desired payment values in the contract's native units.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEstimate"
          description: Payment estimate generated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Generate Payment Estimate
      tags:
      - Vault - Payment
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/payment/acceptance:
    put:
      description: Initiates a new payment acceptance process.
      operationId: CreatePaymentAcceptance
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentAcceptanceConfigFormat"
        description: |-
          Payment acceptance configuration including required payment scenarios and optional
          order context. The 'price-scenarios' list must contain at least one contract-amount
          pair and all contracts must be subscribed to the vault. Optional 'order' provides
          commercial context, and 'documents' can reference existing compliance documents.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Payment acceptance created successfully.
          headers:
            Location:
              description: URL of the created payment acceptance.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Create Payment Acceptance
      tags:
      - Vault - Payment
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/payment/acceptance/{paymentAcceptanceId}:
    delete:
      description: Deactivates a payment acceptance while preserving historical records.
      operationId: ArchivePaymentAcceptance
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      - $ref: "#/components/parameters/PaymentAcceptanceIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Payment acceptance archived successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Archive Payment Acceptance
      tags:
      - Vault - Payment
      x-accepts:
      - application/json
    get:
      description: Retrieves details of an existing payment acceptance.
      operationId: GetPaymentAcceptance
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      - $ref: "#/components/parameters/PaymentAcceptanceIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Payment acceptance details retrieved.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Get Payment Acceptance
      tags:
      - Vault - Payment
      x-accepts:
      - application/json
    patch:
      description: Modifies configuration of an existing payment acceptance.
      operationId: UpdatePaymentAcceptance
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      - $ref: "#/components/parameters/PaymentAcceptanceIdParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentAcceptanceConfigFormat"
        description: "Partial payment acceptance configuration for updates. Can be\
          \ used to modify\nthe 'documents' list to add or remove compliance document\
          \ associations, or to\nupdate 'order' information. Core price scenarios\
          \ cannot be modified after \ncreation."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Payment acceptance updated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Update Payment Acceptance
      tags:
      - Vault - Payment
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/payment/acceptance/{paymentAcceptanceId}/document/{documentId}:
    delete:
      description: |-
        Removes document association from active consideration in payment acceptance
        while retaining it for audit purposes.
      operationId: UnlinkPaymentAcceptanceDocument
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      - $ref: "#/components/parameters/PaymentAcceptanceIdParam"
      - $ref: "#/components/parameters/DocumentIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Document successfully unlinked from payment acceptance.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Unlink Document from Payment Acceptance
      tags:
      - Vault - Payment
      x-accepts:
      - application/json
    put:
      description: "Associates a document with a payment acceptance.\nSupported document\
        \ types: personal identification, entity documentation, \nwallet verification\
        \ data."
      operationId: LinkPaymentAcceptanceDocument
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      - $ref: "#/components/parameters/PaymentAcceptanceIdParam"
      - $ref: "#/components/parameters/DocumentIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Document successfully linked to payment acceptance.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Link Document to Payment Acceptance
      tags:
      - Vault - Payment
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/document:
    put:
      description: "Submits a new document for verification.\nSupported types: personal\
        \ identification, entity documentation, \nwallet verification data."
      operationId: SubmitDocument
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentConfig"
        description: |-
          Complete document configuration including document type and content. The 'type' field
          determines the document category (PersonV1, CustodialV1, or NonCustodialV1), and the
          'data' field contains the corresponding document data structure with all required fields.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
          description: Document submitted successfully.
          headers:
            Location:
              description: URL of the submitted document.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Submit Document
      tags:
      - Vault - Document
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/document/{documentId}:
    delete:
      description: "Deactivates document from active consideration while \nretaining\
        \ it for audit purposes."
      operationId: ArchiveDocument
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      - $ref: "#/components/parameters/DocumentIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
          description: Document archived successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Archive Document
      tags:
      - Vault - Document
      x-accepts:
      - application/json
    get:
      description: "Retrieves metadata and content of a document \nincluding validation\
        \ status and reviewer comments."
      operationId: GetDocument
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      - $ref: "#/components/parameters/DocumentIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
          description: Document retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Get Document
      tags:
      - Vault - Document
      x-accepts:
      - application/json
  /v1/account/velocity-limits:
    get:
      description: |-
        Returns all velocity limits configured at the account scope, ordered by
        window in ascending order.
      operationId: GetAccountVelocityLimits
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/VelocityLimitFormat"
                type: array
          description: Velocity limits retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: List Account Velocity Limits
      tags:
      - Velocity
      x-accepts:
      - application/json
    post:
      description: |-
        Upserts a velocity limit at the account scope, keyed by `windowMinutes`.
        Setting `windowMinutes` to 0 means "single payment cap" — no time aggregation.
      operationId: SetAccountVelocityLimit
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VelocityLimitFormat"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VelocityLimitFormat"
          description: Velocity limit upserted successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Create or Update Account Velocity Limit
      tags:
      - Velocity
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/velocity-limits/{windowMinutes}:
    delete:
      description: |-
        Removes the account velocity limit for the given window. Idempotent —
        returns 204 even if the limit does not exist.
      operationId: DeleteAccountVelocityLimit
      parameters:
      - $ref: "#/components/parameters/VelocityWindowMinutesParam"
      responses:
        "204":
          description: Velocity limit removed (or absent).
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Delete Account Velocity Limit
      tags:
      - Velocity
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/velocity-limits:
    get:
      description: |-
        Returns all velocity limits configured at the vault scope, ordered
        by window in ascending order.
      operationId: GetVaultVelocityLimits
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/VelocityLimitFormat"
                type: array
          description: Velocity limits retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: List Vault Velocity Limits
      tags:
      - Velocity
      x-accepts:
      - application/json
    post:
      description: |-
        Upserts a velocity limit at the vault scope, keyed by `windowMinutes`.
        Setting `windowMinutes` to 0 means "single payment cap" — no time aggregation.
      operationId: SetVaultVelocityLimit
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VelocityLimitFormat"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VelocityLimitFormat"
          description: Velocity limit upserted successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Create or Update Vault Velocity Limit
      tags:
      - Velocity
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/velocity-limits/{windowMinutes}:
    delete:
      description: |-
        Removes the vault velocity limit for the given window. Idempotent —
        returns 204 even if the limit does not exist.
      operationId: DeleteVaultVelocityLimit
      parameters:
      - $ref: "#/components/parameters/VaultIdParam"
      - $ref: "#/components/parameters/VelocityWindowMinutesParam"
      responses:
        "204":
          description: Velocity limit removed (or absent).
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Delete Vault Velocity Limit
      tags:
      - Velocity
      x-accepts:
      - application/json
  /v1/qrcode/transaction:
    post:
      description: |-
        Generates the QR-Codes to be used by a wallet to help on the creation of a
        transaction request.
      operationId: GenerateWalletQrCodes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QrCodeTransactionRequest"
        description: |-
          Contract-amount pair for which to generate the qr-codes.
          The amount should represent the desired payment value in the contract's unit.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/QrCode"
                minItems: 1
                type: array
          description: QR-Code generated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          $ref: "#/components/responses/InvalidRequestResponse"
        "401":
          $ref: "#/components/responses/MissingAuthorizationResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        default:
          $ref: "#/components/responses/DefaultResponse"
      summary: Generate QR-Codes for wallets
      tags:
      - QR-Code
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  headers:
    CacheControlHeader:
      description: |-
        Cache control directive instructing clients and intermediaries not to store
        response data due to sensitive financial and compliance information. This header
        is included in all successful responses to ensure that payment details, personal
        identification data, and transaction information are not cached by browsers,
        proxies, or other intermediaries for security and privacy protection.
      explode: false
      schema:
        enum:
        - no-store
        type: string
      style: simple
  parameters:
    NetworkIdParam:
      description: |-
        Unique identifier for a specific blockchain network (e.g., 'ethereum', 'algorand').
        Used to target operations on a particular network when managing contracts,
        assets, or vault subscriptions. Must match an existing configured network.
      explode: false
      in: path
      name: networkId
      required: true
      schema:
        $ref: "#/components/schemas/NetworkId"
      style: simple
    AssetUnitParam:
      description: |-
        Ticker symbol for a digital asset (e.g., 'EUR', 'USDC', 'ETH', 'BTC').
        Used to identify the specific asset for contract operations, payment
        processing, and vault management. Must match an existing configured asset.
      explode: false
      in: path
      name: assetUnit
      required: true
      schema:
        $ref: "#/components/schemas/AssetUnit"
      style: simple
    VaultIdParam:
      description: |-
        Unique identifier for a vault container that manages payment acceptance,
        documents, and contract subscriptions. Used across all vault-related operations
        including payment processing, document management, and configuration updates.
      explode: false
      in: path
      name: vaultId
      required: true
      schema:
        $ref: "#/components/schemas/VaultId"
      style: simple
    VelocityWindowMinutesParam:
      description: |-
        Rolling window length in minutes used as the unique key for a velocity limit
        within its scope. Use 0 for "single payment cap" (no time aggregation).
      explode: false
      in: path
      name: windowMinutes
      required: true
      schema:
        minimum: 0
        type: integer
      style: simple
    PaymentAcceptanceIdParam:
      description: |-
        Unique identifier for a payment acceptance within a vault. Used to track
        specific payment requests, monitor transaction status, manage associated
        documents, and retrieve payment history and compliance information.
      explode: false
      in: path
      name: paymentAcceptanceId
      required: true
      schema:
        $ref: "#/components/schemas/PaymentAcceptanceId"
      style: simple
    DocumentIdParam:
      description: |-
        Unique identifier for a compliance document within a vault. Used for
        document retrieval, status checking, linking to payment acceptance,
        and managing the document verification lifecycle.
      explode: false
      in: path
      name: documentId
      required: true
      schema:
        $ref: "#/components/schemas/DocumentId"
      style: simple
  responses:
    ConflictResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorList"
      description: |-
        The request could not be completed because the target resource already exists.
        This typically occurs when attempting to create a resource that duplicates an
        existing one, such as a duplicate identifier or a resource that violates
        uniqueness constraints.
    MissingAuthorizationResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorList"
      description: |-
        Authentication credentials are missing, invalid, or expired. The request lacks
        proper authorization headers or tokens. Clients should verify their authentication
        setup and ensure valid credentials are provided in subsequent requests.
    InvalidRequestResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorList"
      description: |-
        The request contains malformed data, invalid parameters, or violates API constraints.
        This includes validation errors, incorrect data types, missing required fields,
        or values outside acceptable ranges. Check the error details for specific issues.
    ForbiddenResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorList"
      description: |-
        The authenticated user lacks sufficient permissions to perform this operation.
        While authentication was successful, the user's role or access level does not
        permit the requested action. Contact an administrator for access rights.
    NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorList"
      description: |-
        The requested resource does not exist or has been removed. This may indicate
        an incorrect ID, a resource that was deleted, or a path that doesn't match
        any configured endpoints. Verify the resource identifier and try again.
    DefaultResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorList"
      description: |-
        An unexpected server error occurred while processing the request. This indicates
        an internal system issue that prevented successful completion. The error details
        may provide additional context for debugging and support purposes.
  schemas:
    FormalName:
      description: |-
        Human-readable resource identifier that follows standard naming conventions
        for display purposes. Used for network names, asset names, and other user-facing
        identifiers that need to be presentable in user interfaces and documentation.
      maxLength: 32
      minLength: 1
      type: string
    NetworkAddress:
      description: |-
        Blockchain-specific address format used for cryptocurrency transactions.
        The exact format varies by network (e.g., Ethereum uses hexadecimal addresses
        starting with 0x, Bitcoin uses base58 encoding). Used for contract addresses,
        wallet addresses, and payment destinations.
      maxLength: 64
      minLength: 1
      type: string
    UnsignedInteger:
      description: |-
        String representation of a non-negative integer used for precise handling
        of large numbers without floating-point precision issues.
        Supports values up to 78 digits to accommodate various asset denominations
        and high-precision calculations.
      maxLength: 78
      minLength: 1
      pattern: "^[0-9]+$"
      type: string
    Number:
      description: "String representation of a decimal number used for precise handling\
        \ of large \nnumbers without floating-point precision issues.\nSupports values\
        \ up to 78 digits to accommodate various asset denominations\nand high-precision\
        \ calculations."
      maxLength: 79
      minLength: 1
      pattern: "^[0-9]+(?:\\.[0-9]+)?$"
      type: string
    Amount:
      allOf:
      - $ref: "#/components/schemas/AmountValue"
      - $ref: "#/components/schemas/AmountRaw"
      description: "Precise representation of a amount combining a raw value with\
        \ decimal precision\ninformation. This structure ensures accurate handling\
        \ of token amounts across \ndifferent assets with varying decimal places."
      example:
        decimals: ""
        raw: ""
        value: ""
    AmountFormat:
      anyOf:
      - $ref: "#/components/schemas/AmountValue"
      - $ref: "#/components/schemas/AmountRaw"
      description: |-
        Precise representation of a amount combining a raw value with decimal precision
        information. This structure ensures accurate handling of token amounts across
        different assets with varying decimal places.
        Accepts value only, raw+decimals only, or both (validated for consistency).
    AmountValue:
      description: |-
        Decimal-string wire form of an amount, expressed in the asset's
        primary unit (e.g. "1.5" for 1.5 BTC). Counterpart to AmountRaw —
        on the wire, use one form, not both, unless intentionally pairing
        them (see AmountFormat).
      example:
        value: ""
      properties:
        value:
          allOf:
          - $ref: "#/components/schemas/Number"
          description: "Amount value in the unit of the asset (e.g., btc)."
      required:
      - value
    AmountRaw:
      description: |-
        Smallest-denomination integer form of an amount paired with the
        asset's decimal precision (e.g. raw="150000000", decimals=8 for
        1.5 BTC). The integer-precise counterpart to AmountValue.
      properties:
        raw:
          allOf:
          - $ref: "#/components/schemas/UnsignedInteger"
          description: "Raw amount value in the smallest unit of the asset (e.g.,\
            \ satoshi for btc)."
        decimals:
          allOf:
          - $ref: "#/components/schemas/Decimals"
          description: Number of decimal places to apply when displaying the amount
            to users.
      required:
      - decimals
      - raw
    Decimals:
      description: |-
        Number of decimal places used for displaying amounts.
        For example, USDC typically uses 6 decimals, while Ethereum uses 18.
        This determines how the raw value should be formatted for user presentation.
      maximum: 77
      minimum: 0
      type: integer
    Time:
      description: "Time in milliseconds representing an amount of time.\nUsed for\
        \ expiration cut-offs, and other time-sensitive operations throughout \nthe\
        \ payment lifecycle."
      minimum: 0
      type: integer
    Timestamp:
      description: |-
        UNIX timestamp in milliseconds representing a specific point in time.
        Used for tracking creation dates, expiration times, transaction timestamps,
        and other time-sensitive operations throughout the payment lifecycle.
      minimum: 0
      type: integer
    Expire:
      description: |-
        Expiration directive expressible either as an absolute timestamp
        (`at`) or as a relative duration in milliseconds (`in`). One of
        the two is set, never both.
      example:
        at: ""
        in: ""
      properties:
        at:
          allOf:
          - $ref: "#/components/schemas/Timestamp"
          description: Timestamp when this payment scenario expires and is no longer
            valid.
        in:
          allOf:
          - $ref: "#/components/schemas/Time"
          description: Time remaining until this payment scenario expires and is no
            longer valid.
      required:
      - at
      - in
    Enabled:
      description: |-
        Boolean flag indicating whether a resource is active and operational.
        When true, the resource can be used for new operations. When false,
        the resource is disabled but historical data is preserved.
      type: boolean
    URL:
      description: |-
        Valid HTTP or HTTPS URL pointing to external resources such as
        asset websites, network documentation, or media assets. Must include
        the protocol scheme and be properly formatted for web access.
      format: uri
      pattern: ^https?://.+$
      type: string
    Version:
      description: |-
        Version tracking metadata for resources that change over time.
        Provides sequence numbering and timestamps for creation and modification
        to support optimistic locking and change tracking.
      example:
        sequence: 0
        updated-at: ""
        created-at: ""
      properties:
        sequence:
          description: |-
            Monotonically increasing version number that increments with each update.
            Used for optimistic concurrency control and change detection.
          minimum: 0
          type: integer
        created-at:
          allOf:
          - $ref: "#/components/schemas/Timestamp"
          description: Timestamp when this resource was initially created.
        updated-at:
          allOf:
          - $ref: "#/components/schemas/Timestamp"
          description: Timestamp when this resource was last modified.
      required:
      - created-at
      - sequence
      - updated-at
    UUID:
      description: |-
        Universally unique identifier used for resources
        that require globally unique identification. Provides 128-bit uniqueness
        suitable for distributed systems and cross-system integration.
      format: uuid
      maxLength: 36
      minLength: 36
      pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
      type: string
    Date:
      description: |-
        Calendar date in ISO 8601 format (YYYY-MM-DD) without time information.
        Used for birth dates, incorporation dates, and other date-only fields
        in compliance documentation and identity verification.
      maxLength: 10
      minLength: 10
      pattern: "^[0-9]{4}-(?:0[1-9]|1[0-2])-(?:0[1-9]|[1-2][0-9]|3[0-1])$"
      type: string
    Street:
      description: |-
        Complete street address including building number, street name, apartment
        or suite information. Used in compliance documents for physical address
        verification and identity confirmation processes.
      maxLength: 200
      minLength: 1
      type: string
    PostalCode:
      description: |-
        Geographic postal or ZIP code for address verification. Format varies
        by country (e.g., 5-digit ZIP codes in US, alphanumeric postal codes
        in Canada). Used for compliance and identity verification.
      maxLength: 20
      minLength: 1
      type: string
    Region:
      description: |-
        Administrative subdivision such as state, province, prefecture, or region.
        Used in address information for compliance documents and geographic
        identification in identity verification processes.
      maxLength: 40
      minLength: 1
      type: string
    Country:
      description: |-
        Country name or ISO 3166-1 alpha-2 country code for geographic identification.
        Used in address information, birth records, and incorporation details
        for compliance and identity verification purposes.
      maxLength: 2
      minLength: 2
      type: string
    Note:
      description: |-
        Optional free-form text field for additional context, remarks, or
        annotations. Provides flexibility for storing supplementary information
        that doesn't fit into structured fields.
      maxLength: 800
      type: string
    MediaMap:
      additionalProperties:
        $ref: "#/components/schemas/Media"
      description: |-
        Map of media references keyed by an arbitrary string label
        (purpose-specific in subtypes — e.g. "logo-light"/"logo-dark"
        on AssetMediaMap). Values are Media descriptors.
    Media:
      description: |-
        Single media reference with its content type, retrievable URL,
        and optional descriptive metadata.
      example:
        metadata: "{}"
        type: image
        url: https://openapi-generator.tech
      properties:
        type:
          $ref: "#/components/schemas/MediaType"
        url:
          description: |-
            Valid HTTP or HTTPS URL pointing to external resources such as
            asset websites, network documentation, or media assets. Must include
            the protocol scheme and be properly formatted for web access.
          format: uri
          pattern: ^https?://.+$
          type: string
        metadata:
          description: |-
            Free-form metadata bag carried alongside a Media reference
            (dimensions, alt text, source attribution, etc.). Concrete
            fields are subtype-specific and may evolve.
          type: object
      required:
      - type
      - url
    MediaType:
      description: |-
        Content category of a media reference. Currently only `image`
        is supported.
      enum:
      - image
      type: string
    MediaMetadata:
      description: |-
        Free-form metadata bag carried alongside a Media reference
        (dimensions, alt text, source attribution, etc.). Concrete
        fields are subtype-specific and may evolve.
      type: object
    QrCodeTransactionRequest:
      description: |-
        Request object containing the essential payment parameters needed to generate
        a blockchain transaction QR code. Specifies the destination, amount, and token
        contract details that will be encoded into a scannable QR format for cryptocurrency
        wallet applications.
      example:
        amount:
          value: ""
        address: address
        contract-id:
          asset-unit: asset-unit
          network-id: network-id
      properties:
        contract-id:
          $ref: "#/components/schemas/ContractId"
        amount:
          $ref: "#/components/schemas/AmountFormat"
        address:
          description: |-
            Blockchain-specific address format used for cryptocurrency transactions.
            The exact format varies by network (e.g., Ethereum uses hexadecimal addresses
            starting with 0x, Bitcoin uses base58 encoding). Used for contract addresses,
            wallet addresses, and payment destinations.
          maxLength: 64
          minLength: 1
          type: string
      required:
      - address
      - amount
      - contract-id
    QrCode:
      description: |-
        QR code representation for facilitating blockchain transactions.
        Contains encoded payment instructions that can be scanned by cryptocurrency wallets
        to initiate payments. Supports different QR code standards and encoding formats.
      example:
        metadata: "{}"
        type: crypto-address
        encoding: byte
        content: content
      properties:
        type:
          $ref: "#/components/schemas/QrCodeType"
        content:
          description: |-
            The encoded content of the QR code containing payment instructions
            in a wallet-readable format.
          type: string
        encoding:
          $ref: "#/components/schemas/QrCodeEncoding"
        metadata:
          description: Additional technical metadata related with the QR code .
          type: object
      required:
      - content
      - encoding
      - type
    QrCodeType:
      description: |-
        Categorization of QR codes based on their payment functionality:
        - 'crypto-address': Simple wallet address QR code
        - 'crypto-payment': Payment request with embedded amount and asset details
      enum:
      - crypto-address
      - crypto-payment
      type: string
    QrCodeEncoding:
      description: "Data encoding format used in the QR code content. \nCurrently\
        \ supports raw byte encoding for maximum compatibility \nwith cryptocurrency\
        \ wallets."
      enum:
      - byte
      type: string
    QrCodeMetadata:
      description: Additional technical metadata related with the QR code .
      type: object
    Traits:
      additionalProperties:
        $ref: "#/components/schemas/TraitProperties"
      description: |-
        Map of named traits keyed by trait identifier (e.g.
        "payment-acceptance-price-trait"). Values are open property
        bags — see TraitProperties. Used as the extensibility surface
        for asset/contract/payment metadata.
    TraitProperties:
      additionalProperties: true
      description: |-
        Free-form property bag for a single trait. Keys and value types
        are trait-specific by design — see Traits and concrete trait
        schemas (e.g. PaymentAcceptancePriceTrait) for the actual
        shapes carried per trait identifier.
      type: object
    PaymentAcceptancePriceTrait:
      description: |-
        Trait declaring the price range a payment-acceptance configuration
        is willing to charge — bounded by `min-amount` and `max-amount`
        Amount values.
      example:
        max-amount:
          decimals: ""
          raw: ""
          value: ""
        min-amount:
          decimals: ""
          raw: ""
          value: ""
      properties:
        min-amount:
          $ref: "#/components/schemas/Amount"
        max-amount:
          $ref: "#/components/schemas/Amount"
    PaymentAcceptancePayTrait:
      description: |-
        Trait declaring the pay-out range a payment-acceptance configuration
        is willing to receive — bounded by `min-amount` and `max-amount`
        Amount values.
      example:
        max-amount:
          decimals: ""
          raw: ""
          value: ""
        min-amount:
          decimals: ""
          raw: ""
          value: ""
      properties:
        min-amount:
          $ref: "#/components/schemas/Amount"
        max-amount:
          $ref: "#/components/schemas/Amount"
    Status:
      description: |-
        Simple service status response used by health and readiness endpoints
        to indicate operational state. Provides a standardized way to communicate
        service availability to monitoring systems and load balancers.
      example:
        status: status
      properties:
        status:
          description: |-
            Service status indicator. Typically returns "ok" when the service
            is operational and ready to handle requests.
          maxLength: 8
          minLength: 1
          type: string
      required:
      - status
    Error:
      description: |-
        Standardized error response structure providing categorized error codes
        and human-readable messages. Used consistently across all API endpoints
        to help clients understand and handle different types of failures.
      example:
        code: code
        message: message
      properties:
        code:
          description: |-
            Structured error code in AAA-999 format where AAA represents the error
            category (e.g., AUT for authentication, VAL for validation) and 999
            is a specific error number. Used for programmatic error handling.
          maxLength: 7
          minLength: 7
          pattern: "^[a-zA-Z]{3}-[0-9]{3}$"
          type: string
        message:
          description: |-
            Human-readable error description explaining what went wrong and
            potentially how to resolve the issue. Suitable for displaying
            to end users or logging for debugging purposes.
          maxLength: 256
          minLength: 1
          type: string
      required:
      - code
      - message
    ErrorList:
      description: Collection of error responses.
      items:
        $ref: "#/components/schemas/Error"
      maxItems: 16
      type: array
    NetworkId:
      description: "Unique lowercase alphanumeric identifier for a network.\nExamples\
        \ include 'ethereum' for Ethereum, 'algorand' for Algorand,\nor 'bitcoin'\
        \ for Bitcoin. Used throughout the API to specify which \nnetwork operations\
        \ should target."
      maxLength: 32
      minLength: 1
      pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
      type: string
    NetworkMediaMap:
      allOf:
      - $ref: "#/components/schemas/MediaMap"
      - properties:
          logo-light:
            $ref: "#/components/schemas/Media"
          logo-dark:
            $ref: "#/components/schemas/Media"
        required:
        - logo-dark
        - logo-light
      description: |-
        MediaMap subtype scoped to networks, conventionally carrying logo
        variants (e.g. "logo-light", "logo-dark") for network display in
        consumer wallets and dashboards.
      example:
        logo-light:
          metadata: "{}"
          type: image
          url: https://openapi-generator.tech
        logo-dark:
          metadata: "{}"
          type: image
          url: https://openapi-generator.tech
    NetworkStatus:
      description: |-
        Operational status of a blockchain network indicating its availability
        for new operations and payment processing.
      enum:
      - active
      - inactive
      - discontinued
      type: string
    NetworkInfo:
      description: |-
        Comprehensive metadata about a network including display information,
        operational status, supported assets, and version tracking.
        Provides all information needed to understand network capabilities.
      example:
        website: https://openapi-generator.tech
        assets:
        - null
        - null
        name: name
        time-to-settle: ""
        media:
          logo-light:
            metadata: "{}"
            type: image
            url: https://openapi-generator.tech
          logo-dark:
            metadata: "{}"
            type: image
            url: https://openapi-generator.tech
        version:
          sequence: 0
          updated-at: ""
          created-at: ""
        status: active
      properties:
        name:
          description: |-
            Human-readable resource identifier that follows standard naming conventions
            for display purposes. Used for network names, asset names, and other user-facing
            identifiers that need to be presentable in user interfaces and documentation.
          maxLength: 32
          minLength: 1
          type: string
        media:
          $ref: "#/components/schemas/NetworkMediaMap"
        website:
          description: |-
            Valid HTTP or HTTPS URL pointing to external resources such as
            asset websites, network documentation, or media assets. Must include
            the protocol scheme and be properly formatted for web access.
          format: uri
          pattern: ^https?://.+$
          type: string
        status:
          $ref: "#/components/schemas/NetworkStatus"
        assets:
          description: Supported assets on this network.
          items:
            $ref: "#/components/schemas/AssetUnit"
          type: array
        time-to-settle:
          allOf:
          - $ref: "#/components/schemas/Time"
          description: |-
            The duration from transaction initiation to its complete and successful
            execution, including the final, irreversible recording of its outcome.
        version:
          $ref: "#/components/schemas/Version"
      required:
      - assets
      - media
      - name
      - status
      - time-to-settle
      - version
      - website
    NetworkConfig:
      description: |-
        Configuration parameters that control network behavior and availability.
        Currently supports enabling/disabling the network for new payment processing
        while preserving existing data and configurations.
      example:
        enabled: ""
      properties:
        enabled:
          allOf:
          - $ref: "#/components/schemas/Enabled"
          description: |-
            Controls whether this network is available for new payment processing.
            Defaults to true when not specified.
    Network:
      description: |-
        Complete network definition combining identification, metadata, and
        configuration. Represents a supported network.
      example:
        id: id
        config:
          enabled: ""
        info:
          website: https://openapi-generator.tech
          assets:
          - null
          - null
          name: name
          time-to-settle: ""
          media:
            logo-light:
              metadata: "{}"
              type: image
              url: https://openapi-generator.tech
            logo-dark:
              metadata: "{}"
              type: image
              url: https://openapi-generator.tech
          version:
            sequence: 0
            updated-at: ""
            created-at: ""
          status: active
      properties:
        id:
          description: "Unique lowercase alphanumeric identifier for a network.\n\
            Examples include 'ethereum' for Ethereum, 'algorand' for Algorand,\nor\
            \ 'bitcoin' for Bitcoin. Used throughout the API to specify which \nnetwork\
            \ operations should target."
          maxLength: 32
          minLength: 1
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
          type: string
        info:
          $ref: "#/components/schemas/NetworkInfo"
        config:
          $ref: "#/components/schemas/NetworkConfig"
      required:
      - config
      - id
      - info
    NetworkExplorer:
      description: |-
        URL templates for a network's block explorer.
        Use {value} as a placeholder for the address or transaction ID.
      example:
        address-url: address-url
        transaction-url: transaction-url
      properties:
        address-url:
          description: "URL template for address lookup. Replace {value} with the\
            \ address."
          type: string
        transaction-url:
          description: "URL template for transaction lookup. Replace {value} with\
            \ the transaction ID."
          type: string
      required:
      - address-url
      - transaction-url
    AssetUnit:
      description: Ticker symbol for digital asset.
      maxLength: 8
      minLength: 3
      pattern: "^[A-Z0-9]+$"
      type: string
    AssetMediaMap:
      allOf:
      - $ref: "#/components/schemas/MediaMap"
      - properties:
          logo-light:
            $ref: "#/components/schemas/Media"
          logo-dark:
            $ref: "#/components/schemas/Media"
        required:
        - logo-dark
        - logo-light
      description: |-
        MediaMap subtype scoped to assets, conventionally carrying logo
        variants (e.g. "logo-light", "logo-dark") for asset display in
        consumer wallets and dashboards.
      example:
        logo-light:
          metadata: "{}"
          type: image
          url: https://openapi-generator.tech
        logo-dark:
          metadata: "{}"
          type: image
          url: https://openapi-generator.tech
    AssetStatus:
      description: Operational status of digital asset.
      enum:
      - active
      - inactive
      - discontinued
      type: string
    AssetInfo:
      description: Digital asset metadata.
      example:
        website: https://openapi-generator.tech
        name: name
        media:
          logo-light:
            metadata: "{}"
            type: image
            url: https://openapi-generator.tech
          logo-dark:
            metadata: "{}"
            type: image
            url: https://openapi-generator.tech
        networks:
        - null
        - null
        version:
          sequence: 0
          updated-at: ""
          created-at: ""
        status: active
      properties:
        name:
          description: |-
            Human-readable resource identifier that follows standard naming conventions
            for display purposes. Used for network names, asset names, and other user-facing
            identifiers that need to be presentable in user interfaces and documentation.
          maxLength: 32
          minLength: 1
          type: string
        media:
          $ref: "#/components/schemas/AssetMediaMap"
        website:
          description: |-
            Valid HTTP or HTTPS URL pointing to external resources such as
            asset websites, network documentation, or media assets. Must include
            the protocol scheme and be properly formatted for web access.
          format: uri
          pattern: ^https?://.+$
          type: string
        status:
          $ref: "#/components/schemas/AssetStatus"
        networks:
          description: Supported networks for this asset.
          items:
            $ref: "#/components/schemas/NetworkId"
          type: array
        version:
          $ref: "#/components/schemas/Version"
      required:
      - media
      - name
      - networks
      - status
      - version
      - website
    AssetConfig:
      description: Asset configuration parameters.
      example:
        enabled: true
      properties:
        enabled:
          description: |-
            Boolean flag indicating whether a resource is active and operational.
            When true, the resource can be used for new operations. When false,
            the resource is disabled but historical data is preserved.
          type: boolean
    Asset:
      description: "Complete digital asset definition combining identification, metadata,\
        \ and \nconfiguration. Represents a supported asset that can be used in payment\
        \ \nprocessing across multiple networks."
      example:
        unit: unit
        config:
          enabled: true
        info:
          website: https://openapi-generator.tech
          name: name
          media:
            logo-light:
              metadata: "{}"
              type: image
              url: https://openapi-generator.tech
            logo-dark:
              metadata: "{}"
              type: image
              url: https://openapi-generator.tech
          networks:
          - null
          - null
          version:
            sequence: 0
            updated-at: ""
            created-at: ""
          status: active
      properties:
        unit:
          description: Ticker symbol for digital asset.
          maxLength: 8
          minLength: 3
          pattern: "^[A-Z0-9]+$"
          type: string
        info:
          $ref: "#/components/schemas/AssetInfo"
        config:
          $ref: "#/components/schemas/AssetConfig"
      required:
      - config
      - info
      - unit
    ContractId:
      description: |-
        Composite identifier uniquely identifying a contract by combining
        the asset it handles with the network where it's transacted.
        This combination ensures contracts are uniquely identified across all
        supported networks and assets.
      example:
        asset-unit: asset-unit
        network-id: network-id
      properties:
        asset-unit:
          description: Ticker symbol for digital asset.
          maxLength: 8
          minLength: 3
          pattern: "^[A-Z0-9]+$"
          type: string
        network-id:
          description: "Unique lowercase alphanumeric identifier for a network.\n\
            Examples include 'ethereum' for Ethereum, 'algorand' for Algorand,\nor\
            \ 'bitcoin' for Bitcoin. Used throughout the API to specify which \nnetwork\
            \ operations should target."
          maxLength: 32
          minLength: 1
          pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"
          type: string
      required:
      - asset-unit
      - network-id
    ContractTraits:
      allOf:
      - $ref: "#/components/schemas/Traits"
      - properties:
          payment-acceptance-price-trait:
            $ref: "#/components/schemas/PaymentAcceptancePriceTrait"
          payment-acceptance-pay-trait:
            $ref: "#/components/schemas/PaymentAcceptancePayTrait"
      description: |-
        Traits subtype scoped to contracts. Layers well-known contract
        trait keys (`payment-acceptance-price-trait`,
        `payment-acceptance-pay-trait`) on top of the generic Traits
        open map.
      example:
        payment-acceptance-pay-trait:
          max-amount:
            decimals: ""
            raw: ""
            value: ""
          min-amount:
            decimals: ""
            raw: ""
            value: ""
        payment-acceptance-price-trait:
          max-amount:
            decimals: ""
            raw: ""
            value: ""
          min-amount:
            decimals: ""
            raw: ""
            value: ""
    ContractMediaMap:
      allOf:
      - $ref: "#/components/schemas/MediaMap"
      - properties:
          logo-light:
            $ref: "#/components/schemas/Media"
          logo-dark:
            $ref: "#/components/schemas/Media"
        required:
        - logo-dark
        - logo-light
      description: |-
        MediaMap subtype scoped to contracts, conventionally carrying
        logo variants for contract display in consumer wallets and
        dashboards.
      example:
        logo-light:
          metadata: "{}"
          type: image
          url: https://openapi-generator.tech
        logo-dark:
          metadata: "{}"
          type: image
          url: https://openapi-generator.tech
    ContractStatus:
      description: |-
        Operational status of a contract indicating its availability
        for payment processing.
      enum:
      - active
      - inactive
      - discontinued
      type: string
    ContractInfo:
      description: |-
        Comprehensive metadata about a contract including deployment details,
        subscribed vaults, operational status, and version tracking. Provides all
        information needed to understand contract capabilities and current usage.
      example:
        note: note
        address: address
        traits:
          payment-acceptance-pay-trait:
            max-amount:
              decimals: ""
              raw: ""
              value: ""
            min-amount:
              decimals: ""
              raw: ""
              value: ""
          payment-acceptance-price-trait:
            max-amount:
              decimals: ""
              raw: ""
              value: ""
            min-amount:
              decimals: ""
              raw: ""
              value: ""
        vaults:
        - null
        - null
        minor-unit:
          decimals: ""
          raw: ""
          value: ""
        media:
          logo-light:
            metadata: "{}"
            type: image
            url: https://openapi-generator.tech
          logo-dark:
            metadata: "{}"
            type: image
            url: https://openapi-generator.tech
        version:
          sequence: 0
          updated-at: ""
          created-at: ""
        status: active
      properties:
        vaults:
          description: |-
            List of vault identifiers that are currently subscribed to this contract
            and can process payments using it.
          items:
            $ref: "#/components/schemas/VaultId"
          type: array
        address:
          description: |-
            Blockchain-specific address format used for cryptocurrency transactions.
            The exact format varies by network (e.g., Ethereum uses hexadecimal addresses
            starting with 0x, Bitcoin uses base58 encoding). Used for contract addresses,
            wallet addresses, and payment destinations.
          maxLength: 64
          minLength: 1
          type: string
        media:
          $ref: "#/components/schemas/ContractMediaMap"
        minor-unit:
          $ref: "#/components/schemas/Amount"
        traits:
          $ref: "#/components/schemas/ContractTraits"
        note:
          description: |-
            Optional free-form text field for additional context, remarks, or
            annotations. Provides flexibility for storing supplementary information
            that doesn't fit into structured fields.
          maxLength: 800
          type: string
        status:
          $ref: "#/components/schemas/ContractStatus"
        version:
          $ref: "#/components/schemas/Version"
      required:
      - address
      - media
      - minor-unit
      - status
      - traits
      - vaults
      - version
    ContractConfig:
      description: |-
        Configuration parameters that control contract behavior and availability.
        Currently supports enabling/disabling the contract for new operations
        while preserving existing vault subscriptions and historical data.
      example:
        enabled: true
      properties:
        enabled:
          description: |-
            Boolean flag indicating whether a resource is active and operational.
            When true, the resource can be used for new operations. When false,
            the resource is disabled but historical data is preserved.
          type: boolean
    Contract:
      description: |-
        Complete contract definition combining identification, metadata,
        and configuration. Represents a deployed contract that can process
        payments for a specific asset on a specific blockchain network.
      example:
        id:
          asset-unit: asset-unit
          network-id: network-id
        config:
          enabled: true
        info:
          note: note
          address: address
          traits:
            payment-acceptance-pay-trait:
              max-amount:
                decimals: ""
                raw: ""
                value: ""
              min-amount:
                decimals: ""
                raw: ""
                value: ""
            payment-acceptance-price-trait:
              max-amount:
                decimals: ""
                raw: ""
                value: ""
              min-amount:
                decimals: ""
                raw: ""
                value: ""
          vaults:
          - null
          - null
          minor-unit:
            decimals: ""
            raw: ""
            value: ""
          media:
            logo-light:
              metadata: "{}"
              type: image
              url: https://openapi-generator.tech
            logo-dark:
              metadata: "{}"
              type: image
              url: https://openapi-generator.tech
          version:
            sequence: 0
            updated-at: ""
            created-at: ""
          status: active
      properties:
        id:
          $ref: "#/components/schemas/ContractId"
        info:
          $ref: "#/components/schemas/ContractInfo"
        config:
          $ref: "#/components/schemas/ContractConfig"
      required:
      - config
      - id
      - info
    ContractAmount:
      description: |-
        Pairing of a specific contract with a precise amount value.
        Used in **API responses** to provide complete amount information including
        both display value and raw precision data.
      example:
        amount:
          decimals: ""
          raw: ""
          value: ""
        contract-id:
          asset-unit: asset-unit
          network-id: network-id
      properties:
        contract-id:
          $ref: "#/components/schemas/ContractId"
        amount:
          $ref: "#/components/schemas/Amount"
      required:
      - amount
      - contract-id
    ContractAmountFormat:
      description: |-
        Pairing of a specific contract with a precise amount value.
        Used in **API requests** to accept amount data in flexible formats,
        allowing callers to provide either display value or raw precision data.
      example:
        amount:
          value: ""
        contract-id:
          asset-unit: asset-unit
          network-id: network-id
      properties:
        contract-id:
          $ref: "#/components/schemas/ContractId"
        amount:
          $ref: "#/components/schemas/AmountFormat"
      required:
      - amount
      - contract-id
    VaultId:
      description: Unique vault identifier.
      maxLength: 36
      minLength: 1
      pattern: "^[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*$"
      type: string
    VaultInfo:
      description: Vault lifecycle metadata.
      example:
        archived-at: ""
        version:
          sequence: 0
          updated-at: ""
          created-at: ""
      properties:
        archived-at:
          allOf:
          - $ref: "#/components/schemas/Timestamp"
          description: Timestamp of vault archival (null if active).
        version:
          $ref: "#/components/schemas/Version"
      required:
      - version
    VaultConfig:
      description: Vault configuration parameters.
      example:
        contract-ids:
        - asset-unit: asset-unit
          network-id: network-id
        - asset-unit: asset-unit
          network-id: network-id
        enabled: ""
      properties:
        contract-ids:
          description: Subscribed contracts (required for new vaults).
          items:
            $ref: "#/components/schemas/ContractId"
          type: array
        enabled:
          allOf:
          - $ref: "#/components/schemas/Enabled"
          description: "Vault activation status (default: true)."
    Vault:
      description: Financial operations container
      example:
        id: id
        config:
          contract-ids:
          - asset-unit: asset-unit
            network-id: network-id
          - asset-unit: asset-unit
            network-id: network-id
          enabled: ""
        info:
          archived-at: ""
          version:
            sequence: 0
            updated-at: ""
            created-at: ""
      properties:
        id:
          description: Unique vault identifier.
          maxLength: 36
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*$"
          type: string
        info:
          $ref: "#/components/schemas/VaultInfo"
        config:
          $ref: "#/components/schemas/VaultConfig"
      required:
      - config
      - id
      - info
    Document:
      description: Compliance document with validation lifecycle.
      example:
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        config:
          data:
            address:
              country: country
              postal-code: postal-code
              street: street
              region: region
            name: name
            birth:
              date: date
              country: country
              region: region
            id:
              number: number
              type: NationalIdentityCard
              issuer: issuer
            type: PersonNaturalV1
          type: PersonV1
        info:
          vault: vault
          status: ""
      properties:
        id:
          description: |-
            Universally unique identifier used for resources
            that require globally unique identification. Provides 128-bit uniqueness
            suitable for distributed systems and cross-system integration.
          format: uuid
          maxLength: 36
          minLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          type: string
        info:
          $ref: "#/components/schemas/DocumentInfo"
        config:
          $ref: "#/components/schemas/DocumentConfig"
      required:
      - config
      - id
      - info
    DocumentId:
      $ref: "#/components/schemas/UUID"
    DocumentInfo:
      description: Document metadata and associations.
      example:
        vault: vault
        status: ""
      properties:
        vault:
          description: Unique vault identifier.
          maxLength: 36
          minLength: 1
          pattern: "^[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*$"
          type: string
        status:
          allOf:
          - $ref: "#/components/schemas/DocumentStatus"
          description: Current validation status.
      required:
      - status
      - vault
    DocumentType:
      description: Compliance document classification.
[...]
