openapi: 3.0.0
info:
  contact:
    email: support@definancy.com
    name: Definancy
    url: https://definancy.com
  description: |-
    REST API for managing asset, network and contract configurations, and vault-based financial operations.
    This API provides a comprehensive set of endpoints for health monitoring, network management, asset
    configuration, contract management, vault lifecycle management, and QR-Code generation. It is designed
    to facilitate seamless integration with financial systems, ensuring secure and efficient payment
    processing while maintaining strict compliance standards.
  title: Definancy API
  version: 0.0.1.wip.20250925
servers:
- description: Stub - Authentication is disabled
  url: https://stub.definancy.com
- description: Development
  url: https://dev.definancy.com
security:
- dpop-auth: []
  dpop-proof: []
tags:
- description: |-
    Experimental endpoints to help in client development.
    **These endpoints are only available in DEV environments**
  name: Experimental
- description: "Health monitoring endpoints for verifying service availability and\
    \ operational status.\nThese endpoints allow you to check if the service is alive\
    \ and ready to accept traffic, \nensuring that your applications can rely on the\
    \ Definancy service for their operations."
  name: Probe
- description: |-
    Authentication endpoints for managing authentication and authorization.
    These endpoints allow you to authenticate and authorize users to access the Definancy service.
  name: Auth
- description: |-
    Network configuration and status management.
    This section includes endpoints for retrieving and managing network configurations, which
    are essential for setting up and maintaining networks for payment processing.
  name: Network
- description: |-
    Asset configuration and status management.
    These endpoints allow you to manage digital assets, including retrieving and updating
    asset configurations, which is crucial for handling various cryptocurrencies and tokens
    in payment operations.
  name: Asset
- description: |-
    Contract configuration and status management.
    This section provides endpoints for managing contracts, including retrieving and
    updating contract configurations, which is vital for executing and validating payments
    on networks.
  name: Contract
- description: |-
    Vault lifecycle management and configuration.
    These endpoints enable you to manage vaults, which are containers for payment acceptance,
    documents, and contract subscriptions. Vaults are essential for organizing and processing
    payments while maintaining compliance.
  name: Vault
- description: |-
    Management of vault contract associations within vaults.
    This section includes endpoints for subscribing and unsubscribing contracts to vaults,
    allowing you to control which contracts are active in specific vaults for payment processing.
  name: Vault - Contract Subscription
- description: |-
    Documents management within vaults.
    These endpoints allow you to submit, retrieve, and archive documents related to payment
    acceptance, ensuring that all necessary compliance documents are managed efficiently.
  name: Vault - Document
- description: |-
    Payment processing and transaction management for vault-based financial operations.
    These endpoints enable you to estimate, create, retrieve, update, and archive payments,
    which are essential for executing payments and tracking their status.
  name: Vault - Payment
- description: |-
    Velocity limit configuration and enforcement for payment operations.
    Velocity limits cap how much can be paid within a rolling time window
    (per account or per vault). Setting `windowMinutes` to 0 means
    "single-payment cap" — no time aggregation.
  name: Velocity
- description: |-
    QR-Code generator.
    This section includes endpoints for generating QR codes, which are used for facilitating
    blockchain transactions by encoding payment instructions that can be scanned by cryptocurrency
    wallets.
  name: QR-Code
paths:
  /v1/healthy:
    get:
      description: "Verifies service liveness. Returns OK when operational.\nThis\
        \ endpoint is used to check if the service is alive and ready to handle requests,\
        \ \nensuring that your applications can rely on the Definancy service for\
        \ their operations."
      operationId: HealthyCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: OK.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      security: []
      summary: Health Check
      tags:
      - Probe
      x-accepts:
      - application/json
  /v1/ready:
    get:
      description: |-
        Verifies service readiness. Returns OK when ready to accept traffic.
        This endpoint checks if the service is ready to handle incoming requests, ensuring
        that your applications can rely on the Definancy service for their operations.
      operationId: ReadyCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: OK.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      security: []
      summary: Ready Check
      tags:
      - Probe
      x-accepts:
      - application/json
  /v1/auth/{definancyId}:
    put:
      description: |-
        Registers a **Definancy ID**.

        This operation does not create a new Definancy ID from scratch but formally registers the
        Definancy method-specific identifier on the network, enabling it to be resolved and used for
        verifiable credentials and interactions.
      operationId: RegisterAuth
      parameters:
      - description: |-
          The Definancy Identifier. This is a base32-encoded (without padding) string derived from an ED25519 public key.
          The identifier is generated by:
          1. Taking the 32-byte public key
          2. Computing a SHA512/256 hash (32 bytes) of the public key
          3. Taking the last 4 bytes of this hash as a checksum
          4. Appending the checksum to the public key (creating a 36-byte value)
          5. Encoding the combined value using base32 without padding
        explode: false
        in: path
        name: definancyId
        required: true
        schema:
          example: ZKKXG4KA5PTZ526QA4URHSNOTYGHDON2GGTS3L6GCVDN6QUVIZNIMZ7K64
          pattern: "^[A-Z2-7]{58}$"
          type: string
        style: simple
      responses:
        "200":
          description: "**Success.** The Definancy ID `{definancyId}` was successfully\
            \ registered."
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request could not be completed because the target resource already exists.
            This typically occurs when attempting to create a resource that duplicates an
            existing one, such as a duplicate identifier or a resource that violates
            uniqueness constraints.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Register a Definancy ID
      tags:
      - Auth
      x-accepts:
      - application/json
  /v1/network:
    get:
      description: "Retrieves all configured networks.\nThis endpoint returns a list\
        \ of all configured networks, which are essential for \nsetting up and maintaining\
        \ networks for payment processing."
      operationId: GetNetworks
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Network"
                type: array
          description: Successful retrieval of network configurations.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: List Networks
      tags:
      - Network
      x-accepts:
      - application/json
  /v1/network/{networkId}:
    get:
      description: "Retrieves configuration details for a specific network.\nThis\
        \ endpoint returns detailed configuration information for a specific\nnetwork,\
        \ which is essential for managing and maintaining networks for \npayment processing."
      operationId: GetNetwork
      parameters:
      - description: |-
          Unique identifier for a specific blockchain network (e.g., 'ethereum', 'algorand').
          Used to target operations on a particular network when managing contracts,
          assets, or vault subscriptions. Must match an existing configured network.
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          $ref: "#/components/schemas/NetworkId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Network"
          description: Network details retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Get Network
      tags:
      - Network
      x-accepts:
      - application/json
    patch:
      description: "Updates configuration parameters for a network.\nThis endpoint\
        \ allows you to update configuration parameters for a specific\nnetwork, which\
        \ is essential for managing and maintaining networks for \npayment processing."
      operationId: ConfigNetwork
      parameters:
      - description: |-
          Unique identifier for a specific blockchain network (e.g., 'ethereum', 'algorand').
          Used to target operations on a particular network when managing contracts,
          assets, or vault subscriptions. Must match an existing configured network.
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          $ref: "#/components/schemas/NetworkId"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NetworkConfig"
        description: "Network configuration parameters to update. Currently supports\
          \ only the 'enabled' \nfield for controlling network availability. When\
          \ setting 'enabled' to false, the \nnetwork will be disabled for payment\
          \ processing while preserving all existing \ncontracts and historical transaction\
          \ data."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Network"
          description: Network configuration updated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Configure Network
      tags:
      - Network
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/network/{networkId}/native:
    get:
      description: "Retrieves the native asset of a specific network in a form of\
        \ a contract.\nThis endpoint returns the native asset of a specific network\
        \ in the form of a contract, \nwhich is essential for understanding and managing\
        \ the native token of a network."
      operationId: GetNetworkNativeAsset
      parameters:
      - description: |-
          Unique identifier for a specific blockchain network (e.g., 'ethereum', 'algorand').
          Used to target operations on a particular network when managing contracts,
          assets, or vault subscriptions. Must match an existing configured network.
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          $ref: "#/components/schemas/NetworkId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: The contract with the network's native asset details is retrieved
            successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Get Network Native Asset
      tags:
      - Network
      x-accepts:
      - application/json
  /v1/network/{networkId}/explorer:
    get:
      description: |-
        Returns URL templates for the network's block explorer.
        Templates use {value} as a placeholder for the address or transaction ID.
      operationId: GetNetworkExplorer
      parameters:
      - description: |-
          Unique identifier for a specific blockchain network (e.g., 'ethereum', 'algorand').
          Used to target operations on a particular network when managing contracts,
          assets, or vault subscriptions. Must match an existing configured network.
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          $ref: "#/components/schemas/NetworkId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkExplorer"
          description: Explorer URL templates retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      security: []
      summary: Get Network Explorer
      tags:
      - Network
      x-accepts:
      - application/json
  /v1/asset:
    get:
      description: |-
        Retrieves all configured digital assets.
        This endpoint returns a list of all configured digital assets, which are essential
        for handling various assets in payment operations.
      operationId: GetAssets
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Asset"
                type: array
          description: Asset list retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: List Assets
      tags:
      - Asset
      x-accepts:
      - application/json
  /v1/asset/{assetUnit}:
    get:
      description: |-
        Retrieves configuration details for a specific digital asset.
        This endpoint returns detailed configuration information for a specific digital asset,
        which is essential for managing and handling various assets in payment operations.
      operationId: GetAsset
      parameters:
      - description: |-
          Ticker symbol for a digital asset (e.g., 'EUR', 'USDC', 'ETH', 'BTC').
          Used to identify the specific asset for contract operations, payment
          processing, and vault management. Must match an existing configured asset.
        explode: false
        in: path
        name: assetUnit
        required: true
        schema:
          $ref: "#/components/schemas/AssetUnit"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
          description: Asset details retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Get Asset
      tags:
      - Asset
      x-accepts:
      - application/json
    patch:
      description: "Updates configuration parameters for a digital asset.\nThis endpoint\
        \ allows you to update configuration parameters for a specific digital asset,\
        \ \nwhich is essential for managing and handling various assets in payment\
        \ operations."
      operationId: ConfigAsset
      parameters:
      - description: |-
          Ticker symbol for a digital asset (e.g., 'EUR', 'USDC', 'ETH', 'BTC').
          Used to identify the specific asset for contract operations, payment
          processing, and vault management. Must match an existing configured asset.
        explode: false
        in: path
        name: assetUnit
        required: true
        schema:
          $ref: "#/components/schemas/AssetUnit"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetConfig"
        description: "Asset configuration parameters to update. Currently supports\
          \ only the 'enabled' \nfield for controlling asset availability. When setting\
          \ 'enabled' to false, the \nasset will be disabled for payment processing\
          \ while preserving all existing \ncontracts and historical transaction data."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
          description: Asset configuration updated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Configure Asset
      tags:
      - Asset
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/contract:
    get:
      description: |-
        Retrieves all contract configurations.
        This endpoint returns a list of all configured contracts, which are essential
        for executing and validating payments on networks.
      operationId: GetContracts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Contract"
                type: array
          description: Contract list retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: List Contracts
      tags:
      - Contract
      x-accepts:
      - application/json
  /v1/contract/{assetUnit}/{networkId}:
    get:
      description: |-
        Retrieves configuration details for a specific smart contract.
        This endpoint returns detailed configuration information for a specific contract,
        which is essential for executing and validating payments on networks.
      operationId: GetContract
      parameters:
      - description: |-
          Ticker symbol for a digital asset (e.g., 'EUR', 'USDC', 'ETH', 'BTC').
          Used to identify the specific asset for contract operations, payment
          processing, and vault management. Must match an existing configured asset.
        explode: false
        in: path
        name: assetUnit
        required: true
        schema:
          $ref: "#/components/schemas/AssetUnit"
        style: simple
      - description: |-
          Unique identifier for a specific blockchain network (e.g., 'ethereum', 'algorand').
          Used to target operations on a particular network when managing contracts,
          assets, or vault subscriptions. Must match an existing configured network.
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          $ref: "#/components/schemas/NetworkId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: Contract information retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Get Contract
      tags:
      - Contract
      x-accepts:
      - application/json
    patch:
      description: |-
        Updates configuration parameters for a contract.
        This endpoint allows you to update configuration parameters for a specific contract,
        which is essential for executing and validating payments on networks.
      operationId: ConfigContract
      parameters:
      - description: |-
          Ticker symbol for a digital asset (e.g., 'EUR', 'USDC', 'ETH', 'BTC').
          Used to identify the specific asset for contract operations, payment
          processing, and vault management. Must match an existing configured asset.
        explode: false
        in: path
        name: assetUnit
        required: true
        schema:
          $ref: "#/components/schemas/AssetUnit"
        style: simple
      - description: |-
          Unique identifier for a specific blockchain network (e.g., 'ethereum', 'algorand').
          Used to target operations on a particular network when managing contracts,
          assets, or vault subscriptions. Must match an existing configured network.
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          $ref: "#/components/schemas/NetworkId"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractConfig"
        description: "Contract configuration parameters to update. Currently supports\
          \ only the 'enabled' \nfield for controlling contract availability. When\
          \ setting 'enabled' to false, the \ncontract will be disabled for payment\
          \ processing while preserving all existing \nvault associations, payment\
          \ acceptance, and historical transaction data."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contract"
          description: Contract configuration updated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Configure Contract
      tags:
      - Contract
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault:
    get:
      description: |-
        Retrieves all vault configurations.
        This endpoint returns a list of all vault configurations, which are essential for
        organizing and processing payments while maintaining compliance.
      operationId: GetVaults
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Vault"
                type: array
          description: Vault list retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: List Vaults
      tags:
      - Vault
      x-accepts:
      - application/json
  /v1/vault/{vaultId}:
    delete:
      description: Deactivates a vault while preserving historical data.
      operationId: ArchiveVault
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Vault archived successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Archive Vault
      tags:
      - Vault
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieves configuration details for a specific vault.
        This endpoint returns detailed configuration information for a specific vault,
        which is essential for organizing and processing payments while maintaining compliance.
      operationId: GetVault
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Vault details retrieved successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Get Vault
      tags:
      - Vault
      x-accepts:
      - application/json
    patch:
      description: "Updates specific fields of an existing vault configuration. \n\
        Only provided properties will be modified.\nReturns the updated vault configuration."
      operationId: ConfigVault
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaultConfig"
        description: |-
          Partial vault configuration containing only the fields to be updated. The 'contract-ids'
          list can be used to modify vault subscriptions by adding or removing contract associations.
          The 'enabled' field can be used to activate or deactivate the vault for new operations.
          Only the provided fields will be modified, preserving all other existing configuration
          settings.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Vault configuration partially updated successfully
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Partially Update Vault Configuration
      tags:
      - Vault
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Updates or creates the configuration for a vault with {vaultId}.\
        \ This operation \nwill fully replace the existing configuration if the vault\
        \ exists, or create\na new vault if it does not."
      operationId: SetVault
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaultConfig"
        description: "Vault configuration with the fields to be updated with non-default\
          \ values. All \nnon-specified fields will be set with the default values.\
          \ The 'contract-ids' \nlist can be used to add or remove contract subscriptions.\
          \ The 'enabled' field \ncan be used to activate or deactivate the vault."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Vault configuration updated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Create or Update Vault
      tags:
      - Vault
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/contract/{assetUnit}/{networkId}:
    delete:
      description: Removes association between a contract and vault.
      operationId: VaultUnsubscribeContract
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      - description: |-
          Ticker symbol for a digital asset (e.g., 'EUR', 'USDC', 'ETH', 'BTC').
          Used to identify the specific asset for contract operations, payment
          processing, and vault management. Must match an existing configured asset.
        explode: false
        in: path
        name: assetUnit
        required: true
        schema:
          $ref: "#/components/schemas/AssetUnit"
        style: simple
      - description: |-
          Unique identifier for a specific blockchain network (e.g., 'ethereum', 'algorand').
          Used to target operations on a particular network when managing contracts,
          assets, or vault subscriptions. Must match an existing configured network.
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          $ref: "#/components/schemas/NetworkId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Contract successfully unsubscribed from vault.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Unsubscribe Contract from Vault
      tags:
      - Vault - Contract Subscription
      x-accepts:
      - application/json
    put:
      description: Associates a smart contract with a vault.
      operationId: VaultSubscribeContract
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      - description: |-
          Ticker symbol for a digital asset (e.g., 'EUR', 'USDC', 'ETH', 'BTC').
          Used to identify the specific asset for contract operations, payment
          processing, and vault management. Must match an existing configured asset.
        explode: false
        in: path
        name: assetUnit
        required: true
        schema:
          $ref: "#/components/schemas/AssetUnit"
        style: simple
      - description: |-
          Unique identifier for a specific blockchain network (e.g., 'ethereum', 'algorand').
          Used to target operations on a particular network when managing contracts,
          assets, or vault subscriptions. Must match an existing configured network.
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          $ref: "#/components/schemas/NetworkId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vault"
          description: Contract successfully subscribed to vault.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Subscribe Contract to Vault
      tags:
      - Vault - Contract Subscription
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/payment/estimate:
    post:
      description: |-
        Calculates payment scenarios for specified contracts and amounts.
        Requires at least one contract-amount pair in the request body.
      operationId: VaultGetPaymentEstimate
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/ContractAmountFormat"
              minItems: 1
              type: array
        description: |-
          List of contract-amount pairs for which to generate payment estimates. Must contain
          at least one contract-amount pair. Each contract must be subscribed to the vault.
          The amounts should represent the desired payment values in the contract's native units.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentEstimate"
          description: Payment estimate generated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Generate Payment Estimate
      tags:
      - Vault - Payment
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/payment/acceptance:
    put:
      description: Initiates a new payment acceptance process.
      operationId: CreatePaymentAcceptance
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentAcceptanceConfigFormat"
        description: |-
          Payment acceptance configuration including required payment scenarios and optional
          order context. The 'price-scenarios' list must contain at least one contract-amount
          pair and all contracts must be subscribed to the vault. Optional 'order' provides
          commercial context, and 'documents' can reference existing compliance documents.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Payment acceptance created successfully.
          headers:
            Location:
              description: URL of the created payment acceptance.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Create Payment Acceptance
      tags:
      - Vault - Payment
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/payment/acceptance/{paymentAcceptanceId}:
    delete:
      description: Deactivates a payment acceptance while preserving historical records.
      operationId: ArchivePaymentAcceptance
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      - description: |-
          Unique identifier for a payment acceptance within a vault. Used to track
          specific payment requests, monitor transaction status, manage associated
          documents, and retrieve payment history and compliance information.
        explode: false
        in: path
        name: paymentAcceptanceId
        required: true
        schema:
          $ref: "#/components/schemas/PaymentAcceptanceId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Payment acceptance archived successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Archive Payment Acceptance
      tags:
      - Vault - Payment
      x-accepts:
      - application/json
    get:
      description: Retrieves details of an existing payment acceptance.
      operationId: GetPaymentAcceptance
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      - description: |-
          Unique identifier for a payment acceptance within a vault. Used to track
          specific payment requests, monitor transaction status, manage associated
          documents, and retrieve payment history and compliance information.
        explode: false
        in: path
        name: paymentAcceptanceId
        required: true
        schema:
          $ref: "#/components/schemas/PaymentAcceptanceId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Payment acceptance details retrieved.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Get Payment Acceptance
      tags:
      - Vault - Payment
      x-accepts:
      - application/json
    patch:
      description: Modifies configuration of an existing payment acceptance.
      operationId: UpdatePaymentAcceptance
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      - description: |-
          Unique identifier for a payment acceptance within a vault. Used to track
          specific payment requests, monitor transaction status, manage associated
          documents, and retrieve payment history and compliance information.
        explode: false
        in: path
        name: paymentAcceptanceId
        required: true
        schema:
          $ref: "#/components/schemas/PaymentAcceptanceId"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentAcceptanceConfigFormat"
        description: "Partial payment acceptance configuration for updates. Can be\
          \ used to modify\nthe 'documents' list to add or remove compliance document\
          \ associations, or to\nupdate 'order' information. Core price scenarios\
          \ cannot be modified after \ncreation."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Payment acceptance updated successfully.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Update Payment Acceptance
      tags:
      - Vault - Payment
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/payment/acceptance/{paymentAcceptanceId}/document/{documentId}:
    delete:
      description: |-
        Removes document association from active consideration in payment acceptance
        while retaining it for audit purposes.
      operationId: UnlinkPaymentAcceptanceDocument
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      - description: |-
          Unique identifier for a payment acceptance within a vault. Used to track
          specific payment requests, monitor transaction status, manage associated
          documents, and retrieve payment history and compliance information.
        explode: false
        in: path
        name: paymentAcceptanceId
        required: true
        schema:
          $ref: "#/components/schemas/PaymentAcceptanceId"
        style: simple
      - description: |-
          Unique identifier for a compliance document within a vault. Used for
          document retrieval, status checking, linking to payment acceptance,
          and managing the document verification lifecycle.
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          $ref: "#/components/schemas/DocumentId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Document successfully unlinked from payment acceptance.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Unlink Document from Payment Acceptance
      tags:
      - Vault - Payment
      x-accepts:
      - application/json
    put:
      description: "Associates a document with a payment acceptance.\nSupported document\
        \ types: personal identification, entity documentation, \nwallet verification\
        \ data."
      operationId: LinkPaymentAcceptanceDocument
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      - description: |-
          Unique identifier for a payment acceptance within a vault. Used to track
          specific payment requests, monitor transaction status, manage associated
          documents, and retrieve payment history and compliance information.
        explode: false
        in: path
        name: paymentAcceptanceId
        required: true
        schema:
          $ref: "#/components/schemas/PaymentAcceptanceId"
        style: simple
      - description: |-
          Unique identifier for a compliance document within a vault. Used for
          document retrieval, status checking, linking to payment acceptance,
          and managing the document verification lifecycle.
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          $ref: "#/components/schemas/DocumentId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAcceptance"
          description: Document successfully linked to payment acceptance.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Link Document to Payment Acceptance
      tags:
      - Vault - Payment
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/document:
    put:
      description: "Submits a new document for verification.\nSupported types: personal\
        \ identification, entity documentation, \nwallet verification data."
      operationId: SubmitDocument
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentConfig"
        description: |-
          Complete document configuration including document type and content. The 'type' field
          determines the document category (PersonV1, CustodialV1, or NonCustodialV1), and the
          'data' field contains the corresponding document data structure with all required fields.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
          description: Document submitted successfully.
          headers:
            Location:
              description: URL of the submitted document.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
            Cache-Control:
              $ref: "#/components/headers/CacheControlHeader"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The request contains malformed data, invalid parameters, or violates API constraints.
            This includes validation errors, incorrect data types, missing required fields,
            or values outside acceptable ranges. Check the error details for specific issues.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            Authentication credentials are missing, invalid, or expired. The request lacks
            proper authorization headers or tokens. Clients should verify their authentication
            setup and ensure valid credentials are provided in subsequent requests.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The authenticated user lacks sufficient permissions to perform this operation.
            While authentication was successful, the user's role or access level does not
            permit the requested action. Contact an administrator for access rights.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            The requested resource does not exist or has been removed. This may indicate
            an incorrect ID, a resource that was deleted, or a path that doesn't match
            any configured endpoints. Verify the resource identifier and try again.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
          description: |-
            An unexpected server error occurred while processing the request. This indicates
            an internal system issue that prevented successful completion. The error details
            may provide additional context for debugging and support purposes.
      summary: Submit Document
      tags:
      - Vault - Document
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/vault/{vaultId}/document/{documentId}:
    delete:
      description: "Deactivates document from active consideration while \nretaining\
        \ it for audit purposes."
      operationId: ArchiveDocument
      parameters:
      - description: |-
          Unique identifier for a vault container that manages payment acceptance,
          documents, and contract subscriptions. Used across all vault-related operations
          including payment processing, document management, and configuration updates.
        explode: false
        in: path
        name: vaultId
        required: true
        schema:
          $ref: "#/components/schemas/VaultId"
        style: simple
      - description: |-
          Unique identifier for a compliance document within a vault. Used for
          document retrieval, status checking, linking to payment acceptance,
          and managing the document verification lifecycle.
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          $ref: "#/components/schemas/DocumentId"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
          description: Document archived successfully.
[...]
